:root {
  --grey: #f6f6f6;
  --blueblack: #2d1d3d;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', 'serif';
}

.myPage {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
}